main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  width: 100%;
  max-width: 1400px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.box {
  width: 90%;
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 15px;
  margin-bottom: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transition: backdrop-filter 0.25s ease-out, background-color 0.25s ease-out;
}

.box:hover::before {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.box1,
.box3,
.box5,
.box7,
.box9,
.box11 {
  justify-self: end;
}

.box1 {
  background-image: url(../Images/ezgif-5-ba293a475d.gif);
}

.box2 {
  background-image: url(../Images/pexels-cottonbro-5054356.jpg);
}

.box3 {
  background-image: url(../Images/pexels-tima-miroshnichenko-7567486.jpg);
}

.box4 {
  background-image: url(../Images/pexels-harper-sunday-11751103.jpg);
}

.box5 {
  background-image: url(../Images/pexels-lastly-699122.jpg);
}

.box6 {
  background-image: url(../Images/apple-dust-apple-apple-dust-dust.gif);
}

.box7 {
  background-image: url(../Images/pexels-pixabay-164903.jpg);
}

.box8 {
  background-image: url(../Images/pexels-pixabay-256450.jpg);
}

.box9 {
  background-image: url(../Images/pexels-pripicart-457445.jpg);
}

.box10 {
  background-image: url(../Images/pexels-sam-tan-165514541-11710905.jpg);
}

.box11 {
  background-image: url(../Images/pexels-shvetsa-3987110.jpg);
}

.box12 {
  background-image: url(../Images/pexels-fotios-photos-1438190.jpg);
}

/*Components*/
.CheckOut {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out, visibility 0.25s ease-out,
    transform 0.25s ease-out;
  rotate: 45deg;
  background-color: var(--Back-Ground-Color);
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 2%;
  right: 2%;
  transform: translateX(0px) translateY(20px);
  cursor: pointer;
  z-index: 2;
}

.box:hover > .CheckOut {
  transform: translateX(0) translateY(0);
  opacity: 1;
  visibility: visible;
}
/*End of Components*/

.sub__title {
  color: var(--Back-Ground-Color);
  font-size: 16px;
  position: absolute;
  top: 2%;
  left: 4%;
  visibility: hidden;
  opacity: 0;
}

.box:hover > .sub__title {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.25s;
}

.Mobile__subTitle {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sub__title {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .Wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    justify-self: center;
  }

  .Mobile__subTitle {
    display: block;
    padding-left: 7.5%;
    margin-top: 0;
  }

  .box:hover::before {
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
  }

  .box:hover > .CheckOut {
    opacity: 0;
    visibility: hidden;
  }

  .box:hover > .sub__title {
    opacity: 0;
    visibility: hidden;
  }
}
